* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calculator-tool {
    background-color: #637c93;
    height: 480px;
}

.line-num-remover-tool {
    display: flex;
    align-items: center;
    background-color: #7aa78d;
    height: 40rem;
}
